@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 993px){
    main{
        min-width: 700px;
        overflow: hidden;
    }

    div#img{
        display: block;
        float: left;
        margin: 0px;
        width: 35%;
        height: 540px;
        margin-top: -20px;
        margin-left: -20px;
        background:  url('../imagens/pintura.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        border-radius: 15px 0px 0px 0px;
        
    }

    form{
        width: 62%;
        float: right;
        height: 100%;
       
    }

    #titulo{
        padding-bottom: 20px;
        margin-top: 25px;
        margin-right: 25px;
        font-size: 3em;
    }

    p{
        font-size: 1.6em;
        padding-bottom: 30px;
        margin-right: 25px;
    }

    .dados{
        display: inline-block;
        height: 45px;
        margin-bottom: 20px;
        width: 400px;
        text-align: right;
    }

    #iemail{
        height: 40px;
        width: 350px;
        padding: 2px;
        margin: auto;
        margin-top: -3px;
    }

    #isenha{
        height: 40px;
        width: 350px;
        padding: 2px;
        margin: auto;
        margin-top: -3px;
    }

    #entrar{
        margin-top: 1px;
        height: 50px;
    }
}